<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Active Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="images/favicon.png" rel="icon">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->


    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/swiper-bundle.min.css" rel="stylesheet">
    <link href="css/glightbox.min.css" rel="stylesheet">

    

  <!-- Main CSS File -->
    <link href="css/main.css" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Company Name</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="home.html" class="active">Home1</a></li>
          
          <li class="dropdown">
                <a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                    <li><a href="#">Software Development</a></li>
                    <li><a href="#">Data Process</a></li>
                    <li><a href="#">Survey/Investigation</a></li>
                    
                </ul>
            </li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">RigSam Services Pvt. Ltd.</a></li>

         
          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">
      <!-- Blog Posts Section -->
      <section id="blog-posts" class="blog-posts section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
              <h3>RigSam Services Pvt. Ltd.</h3>
              
          </div><!-- End Section Title -->
          

      </section><!-- /Blog Posts Section -->
      <!-- Array of Resources -->
      <section id="about-2" class="about-2 section light-background">
          
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
                      <div class="swiper init-swiper">

                          <div class="swiper-wrapper">

                              <div class="swiper-slide">
                                  <img src="http://rigsamservices.com/wp-content/themes/twentytwentyfour/assets/images/museum.webp" alt="Image" class="img-fluid">
                              </div>

                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 order-lg-1">
                      <div class="container section-title" data-aos="fade-up">
                          <h3>Custom Software Development</h3>
                      </div><!-- End Section Title -->
                      <p class="mb-4" data-aos="fade-up">
                          At RigSam Services Private Limited, we specialize in providing custom software development solutions tailored to meet the unique needs of our clients. With a dedicated team of experienced developers and a proven track record of delivering successful projects, we are committed to delivering high-quality, scalable, and cost-effective software solutions.
                      </p>
                      <p class="mt-5" data-aos="fade-up">
                          We make the life easier . . .
                          
                      </p>
                      <p class="mt-5" data-aos="fade-up">
                         <a href="#" style="background-color:black!important;color:white!important" class="btn">About Us</a>
                      </p>
                      


                  </div>
              </div>

          </div>




      </section><!-- /Array of Resources -->
      <section id="about-2" class="about-2 section light-background">
          <div class="container">
              <div class="row gy-4 justify-content-center">

                  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                      <div class="swiper init-swiper">

                          <div class="swiper-wrapper">

                              <div class="swiper-slide">
                                  <img height="350px;" width="620px;" src="https://rigsamservices.com/wp-content/uploads/2024/06/web1-2-1536x865.png">
                              </div>

                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>
                  <div class="col-lg-6 ps-lg-5">

                      <h3 class="mb-4" data-aos="fade-up">
                          Web Application Development
                      </h3>
                      <p data-aos="fade-up">
                          Create intuitive and responsive web applications to engage your audience. We offer end-to-end web application development services, from concept to deployment, leveraging the latest technologies to build scalable and user-friendly solutions.
                      </p>
                      
                      <div class="row">
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="services-item" data-aos="fade-up" data-aos-delay="">
                                  
                                  <div>
                                      <p>Our team designs responsive web applications that provide an optimal viewing and interaction experience across a wide range of devices and screen sizes.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="services-item" data-aos="fade-up" data-aos-delay="">

                                  <div>
                                      <p>We develop robust e-commerce platforms tailored to your business needs, enabling you to reach customers and drive sales effectively.</p>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </section><!-- / -->
      <section id="about-2" class="about-2 section light-background">
          
          <div class="container">
              <div class="row align-items-center justify-content-between">
                  <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
                      <div class="swiper init-swiper">

                          <div class="swiper-wrapper">

                              <div class="swiper-slide">
                                  <img src="https://rigsamservices.com/wp-content/uploads/2024/06/GIS_survey-1.png">
                              </div>

                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 order-lg-1">
                      
                      <h3 class="mb-4" data-aos="fade-up">
                          DRONE Survey with Survey Report.
                      </h3>
                      <p data-aos="fade-up">
                          Various type of DRONE surveys.
                      </p>
                      <p data-aos="fade-up">
                          Certified DRONE pilots.
                      </p>
                      <p data-aos="fade-up">
                          Survey reports for the GIS data.
                      </p>


                  </div>
              </div>

          </div>




      </section><!-- /Array of Resources -->
      <section id="about-2" class="about-2 section light-background">
          <div class="container">
              <div class="row gy-4 justify-content-center">

                  <div class="col-lg-7" data-aos="fade-up" data-aos-delay="400">
                      <div class="swiper init-swiper">

                          <div class="swiper-wrapper">

                              <div class="swiper-slide">
                                  <img src="https://rigsamservices.com/wp-content/uploads/2024/06/varietySolutions.jpg" alt="Image" class="img-fluid">
                              </div>

                          </div>
                          <div class="swiper-pagination"></div>
                      </div>
                  </div>
                  <div class="col-lg-4 ps-lg-5">

                      
                      <h3 class="mb-4" data-aos="fade-up">
                          Variety of solutions for real world requirements
                      </h3>
                      <p data-aos="fade-up">
                          Recognizing the importance of a skilled workforce, Rigsam Services Pvt. Ltd. is dedicated to investing in the development of its employees. The company plans to provide continuous training and learning opportunities to its team, fostering a culture of growth and expertise. This ensures that the team stays abreast of the latest industry trends, maintains proficiency in emerging technologies, and is well-equipped to address the evolving needs of clients.
                      </p>
                      <p class="mt-5" data-aos="fade-up">
                          <a href="#" style="background-color:black!important;color:white!important" class="btn">Our Services</a>
                      </p>
                      
                  </div>
              </div>
          </div>
      </section><!-- / -->
      <section id="testimonials" class="testimonials section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
              
              <h2>Meet our team</h2>
              <p>Our comprehensive suite of professionals caters to a diverse team, ranging from seasoned architects to renowned engineers.</p>
          </div><!-- End Section Title -->
          <div class="container" data-aos="fade-up">
              <div class="row justify-content-center">
                  <div class="col-lg-3">
                      <div class="testimonial mx-auto">
                          <figure class="img-wrap">
                              <img src="images/teamDefault.jpg" alt="Image" class="img-fluid">
                          </figure>
                          <h3 class="name">Sharad</h3>
                          <p>Founder, CEO & Architect</p>
                      </div>
                      
                      
                  </div>
                  <div class="col-lg-3">
                      
                      <div class="testimonial mx-auto">
                          <figure class="img-wrap">
                              <img src="images/teamDefault.jpg" alt="Image" class="img-fluid">
                          </figure>
                          <h3 class="name">Raveesh</h3>
                          <p>Engineering Manager</p>
                      </div>

                  </div>
                  <div class="col-lg-3">

                      <div class="testimonial mx-auto">
                          <figure class="img-wrap">
                              <img src="images/teamDefault.jpg" alt="Image" class="img-fluid">
                          </figure>
                          <h3 class="name">Anuj</h3>
                          <p>Architect</p>
                      </div>

                  </div>
                  <div class="col-lg-3">

                      <div class="testimonial mx-auto">
                          <figure class="img-wrap">
                              <img src="images/teamDefault.jpg" alt="Image" class="img-fluid">
                          </figure>
                          <h3 class="name">Shekhar</h3>
                          <p>Project Manager</p>
                      </div>

                  </div>
              </div>
          </div>
      </section><!-- /Testimonials Section -->
      <section id="testimonials" class="testimonials section">
          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">

              <h2>We’ve worked with some of the well known and growing organizations.</h2>
              
          </div><!-- End Section Title -->
          <div class="container" data-aos="fade-up">
              <div class="row justify-content-center">
                  <div class="col-lg-3">
                      <div class="testimonial mx-auto">
                          <img src="https://rigsamservices.com/wp-content/uploads/2024/06/CentralBankOfIndia.png" alt="Image" class="img-fluid">
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="testimonial mx-auto">
                          <img  src="http://rigsamservices.com/wp-content/uploads/2024/06/DDA.png" alt="Image" class="img-fluid">
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="testimonial mx-auto">
                          <img src="https://rigsamservices.com/wp-content/uploads/2024/06/STCS.jpg" alt="Image" class="img-fluid">
                      </div>
                  </div>
                  <div class="col-lg-3">
                      <div class="testimonial mx-auto">
                          <img src="https://rigsamservices.com/wp-content/uploads/2024/06/SJSCBioMining.png" alt="Image" class="img-fluid">
                      </div>
                  </div>
                  
              </div>
          </div>
      </section><!-- /Testimonials Section -->
      <section id="services-2" style="background-color:black;" class="services-2 section">
          
          <div class="container" data-aos="fade-up">
              <div class="col-md-6 col-lg-7">
                  <h1 style="color:white;">FAQs</h1>
              </div>
         
          </div><!-- End Section Title -->
          <div class="container">
              <div id="accordion">
                  <div id="card1" class="card">
                      <div class="card-header" id="headingOne" style="background-color:black;">
                          <h5 class="mb-0">
                              <button style="color:white;" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  What is your process working in smaller projects?
                              </button>
                          </h5>
                      </div>

                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body" style="background-color:white;color:black;">
                              RigSam Services Pvt. Ltd. offers comprehensive consulting, management, design, and research solutions. Our vision is to be at the forefront of architectural innovation, fostering a global community of architects and enthusiasts united by a passion for creating spaces. Every architectural endeavor is an opportunity to shape the future.
                          </div>
                      </div>
                  </div>
                  <div id="card2" class="card">
                      <div class="card-header" id="headingTwo" style="background-color:black;">
                          <h5 class="mb-0">
                              <button style="color:white;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Who is behind RigSam Services Pvt. Ltd. ?
                              </button>
                          </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body" style="background-color:white;color:black;">
                              RigSam Services Pvt. Ltd. has strong team behind its every product. Every team member is in synch with other ones.
                          </div>
                      </div>
                  </div>
                  <div id="card3" class="card">
                      <div class="card-header" id="headingThree" style="background-color:black;">
                          <h5 class="mb-0">
                              <button style="color:white;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  I’d like to get to meet fellow architects, how can I do that?
                              </button>
                          </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                          <div class="card-body" style="background-color:white;color:black;">
                              RigSam Services Pvt. Ltd. team is always available online to assist and support you. Any one get information from them for the query or requirement.
                          </div>
                      </div>
                  </div>
                  <div id="card4" class="card">
                      <div class="card-header" id="headingFour" style="background-color:black;">
                          <h5 class="mb-0">
                              <button style="color:white;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Can I apply to be a part of the team or work as a contractor?
                              </button>
                          </h5>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                          <div class="card-body" style="background-color:white;color:black;">
                              Yes :). It is our pleasure. Again our team is a final decision maker.
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>

      </section><!-- /Services 2 Section -->
      
      <!-- Section -->
    
      <!-- Array of Resources -->
     
     
    <!-- About Section -->
    

    <!-- About 2 Section -->
   

   
    

    <!-- Stats Section -->
    

    <!-- Blog Posts Section -->
    <!-- /Blog Posts Section -->

    <!-- Tabs Section -->
    <!-- /Tabs Section -->

    <!-- Services 2 Section -->
    <!-- /Services 2 Section -->

    <!-- Pricing Section -->
    <!-- /Pricing Section -->

    <!-- Faq Section -->
    <!-- /Faq Section -->

    <!-- Testimonials Section -->
    <!-- /Testimonials Section -->

  </main>

  <footer id="footer" class="footer light-background">
    <div class="container">
      <div class="row g-4">
        
        <div class="col-md-6 col-lg-3 ps-lg-5 mb-3 mb-md-0">
          <div class="widget">
            <h3 class="widget-heading">About</h3>
            <ul class="list-unstyled float-start me-5">
              <li><a href="#">Team</a></li>
              <li><a href="#">History</a></li>
              <li><a href="#">Carrers</a></li>
            </ul>
            
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5">
          <div class="widget">
            <h3 class="widget-heading">Privacy</h3>
            <ul class="list-unstyled footer-blog-entry">
                <li><a href="#">privacy Policy</a></li>
                <li><a href="#">Terms and Condition</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
          <div class="col-md-6 col-lg-3 pl-lg-5">
              <div class="widget">
                  <h3 class="widget-heading">Social</h3>
                  <ul class="list-unstyled footer-blog-entry">
                      <li><a href="#">Facebook</a></li>
                      <li><a href="#">Instagram</a></li>
                      <li><a href="#">Twitter/X</a></li>
                  </ul>
              </div>
          </div>
        
      </div>

      
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- JS Files -->
  
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/purecounter_vanilla.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="js/main.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script>
      $(document).ready(function () {
          //$("#collapseOne").collapse('toggle');
          $(".card-header").click(function () {
              //alert($(this).parent('div').attr('id'))
              var parentDiv = $(this).parent('div').attr('id');
              var grandParentDiv = $("#" + parentDiv).parent('div').attr('id');
              //alert(grandParentDiv);
              var divWithShow = $("#" + parentDiv).children("div").eq(1).attr("id");
              //alert(divWithShow)
              //alert($("#" + parentDiv).children("div").eq(1).attr("id"));

              var myid = ($(this).attr("id"));
              
              $("#" + grandParentDiv + " > div").find('div').removeClass("show");
              $("#" + divWithShow).addClass("show");

              //$("#collapseOne").collapse('toggle'); // toggle collapse
          });
      });

  </script>
  

</body>

</html>