<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Active Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='images/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1 class="sitename">Company Name</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="home.html" class="active">Home1</a></li>
          <li class="dropdown">
            <a href="#"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Software Development</a></li>
              <li><a href="#">Data Process</a></li>
              <li><a href="#">Survey/Investigation</a></li>
            </ul>
          </li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="contact.html">RigSam Services Pvt. Ltd.</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">
    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
      <div class="container section-title" data-aos="fade-up">
        <h3>A commitment to innovation </h3>
        <h3>and sustainability</h3>
        <p style="font-size:20px;">RigSam Services Private Limited firm that seamlessly merges creativity</p>
        <p style="font-size:20px;">and functionality to redefine architectural excellence.</p>
        <p class="mt-5" data-aos="fade-up">
          <a href="#" style="background-color:black!important;color:white!important" class="btn">About Us</a>
        </p>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row gy-4">
          <div class="col-md-6 col-lg-12">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="thumb d-block"><img src="https://rigsamservices.com/wp-content/themes/twentytwentyfour/assets/images/building-exterior.webp" alt="Image" class="img-fluid rounded"></a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Blog Posts Section -->

    <section id="blog-posts" class="blog-posts section">
      <div class="container section-title" data-aos="fade-up">
        <h3>A passion for creating identification</h3>
        <h3>for its services</h3>
        <p style="font-size:20px;">Our comprehensive suite of IT professional services caters to a diverse</p>
        <p style="font-size:20px;">clientele, ranging from small to established organization looking for better,</p>
        <p style="font-size:20px;">economic and optimized IT solutions.</p>
      </div><!-- End Section Title -->
    </section><!-- /Blog Posts Section -->

    <section id="blog-posts" class="blog-posts section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-md-6 col-lg-4">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
              <div class="post-content">
                <h3 style="font-size:larger;">*</h3>
                <h3><a href="#">Renovation and restoration</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
              <div class="post-content">
                <h3 style="font-size:larger;">*</h3>
                <h3><a href="#">Continuous Support</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
              <div class="post-content">
                <h3 style="font-size:larger;">*</h3>
                <h3><a href="#">App Access</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
              <div class="post-content">
                <h3 style="font-size:larger;">*</h3>
                <h3><a href="#">Consulting</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
              <div class="post-content">
                <h3 style="font-size:larger;">*</h3>
                <h3><a href="#">Project Management</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="post-entry" data-aos="fade-up" data-aos-delay="100">
              <div class="post-content">
                <h3 style="font-size:larger;">*</h3>
                <h3><a href="#">Architectural Solutions</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- / -->
    
    <section id="about-2" class="about-2 section light-background">
      <div class="container section-title" data-aos="fade-up">
        <h3>An array of resources</h3>
        <p style="font-size:20px;">Highly skilled team is behind the best solutions.</p>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-7 mb-5 mb-lg-0 order-lg-2" data-aos="fade-up" data-aos-delay="400">
            <div class="swiper init-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://rigsamservices.com/wp-content/themes/twentytwentyfour/assets/images/tourist-and-building.webp" alt="Image" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2>Enquire Now</h2>
            <form action="#">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" rows="5"></textarea>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- / -->

  </main><!-- End Main -->

  <footer id="footer" class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="social-links">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
        <p>&copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved | Powered by <a href="https://bootstrapmade.com/">BootstrapMade</a></p>
      </div>
    </div>
  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  
</body>

</html>